.regular-12 {
  font-weight: 400;
  font-size: 12px;
}

.regular-10 {
  font-weight: 400;
  font-size: 10px;
}

.regular-13 {
  font-weight: 400;
  font-size: 13px;
}

.regular-14 {
  font-weight: 400;
  font-size: 14px;
}

.regular-15 {
  font-weight: 400;
  font-size: 15px;
}

.regular-16 {
  font-weight: 400;
  font-size: 16px;
}

.regular-18 {
  font-weight: 400;
  font-size: 18px;
}
.regular-18-9 {
  font-weight: 400;
  font-size: 18.9px;
}
.regular-20 {
  font-weight: 400;
  font-size: 20px;
}
.regular-22 {
  font-weight: 400;
  font-size: 22px;
}
.regular-30 {
  font-weight: 400;
  font-size: 30px;
}

.regular-50 {
  font-weight: 400;
  font-size: 50px;
}
.medium-10 {
  font-weight: 500;
  font-size: 10px;
}
.medium-12 {
  font-weight: 500;
  font-size: 12px;
}

.medium-14 {
  font-weight: 500;
  font-size: 14px;
}
.medium-15 {
  font-weight: 500;
  font-size: 15px;
}

.medium-16 {
  font-weight: 500;
  font-size: 16px;
}
.medium-18 {
  font-weight: 500;
  font-size: 18px;
}
.medium-19 {
  font-weight: 500;
  font-size: 19px;
}

.medium-20 {
  font-weight: 500;
  font-size: 20px;
}

.medium-21 {
  font-weight: 500;
  font-size: 21px;
}
.medium-22 {
  font-weight: 500;
  font-size: 22px;
}

.medium-24 {
  font-weight: 500;
  font-size: 24px;
}
.medium-25 {
  font-weight: 500;
  font-size: 24px;
}
.medium-26 {
  font-weight: 500;
  font-size: 26px;
}
.medium-28 {
  font-weight: 500;
  font-size: 28px;
}

.medium-30 {
  font-weight: 500;
  font-size: 30px;
}
.medium-35 {
  font-weight: 500;
  font-size: 35px;
}
.medium-50 {
  font-weight: 500;
  font-size: 50px;
}
.medium-60 {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.medium-65 {
  font-weight: 500;
  font-size: 65px;
}

.semi-bold-10 {
  font-weight: 600;
  font-size: 10px;
}
.semi-bold-12 {
  font-weight: 600;
  font-size: 12px;
}

.semi-bold-13 {
  font-weight: 600;
  font-size: 13px;
}

.semi-bold-14 {
  font-weight: 600;
  font-size: 14px;
}
.semi-bold-16 {
  font-weight: 600;
  font-size: 16px;
}

.semi-bold-17 {
  font-weight: 600;
  font-size: 17px;
}
.semi-bold-18 {
  font-weight: 600;
  font-size: 18px;
}

.semi-bold-20 {
  font-weight: 600;
  font-size: 20px;
}

.semi-bold-22 {
  font-weight: 600;
  font-size: 22px;
}

.semi-bold-24 {
  font-weight: 600;
  font-size: 24px;
}

.semi-bold-30 {
  font-weight: 600;
  font-size: 30px;
}
.bold-12 {
  font-weight: 700;
  font-size: 12px;
}

.bold-14 {
  font-weight: 700;
  font-size: 14px;
}

.bold-16 {
  font-weight: 700;
  font-size: 16px;
}

.bold-18 {
  font-weight: 700;
  font-size: 18px;
}
.bold-18-9 {
  font-weight: 700;
  font-size: 18.9px;
}
.bold-20 {
  font-weight: 700;
  font-size: 18.9px;
}
.bold-22 {
  font-weight: 700;
  font-size: 22px;
}

.bold-24 {
  font-weight: 700;
  font-size: 24px;
}

.bold-26 {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}
.bold-28 {
  font-weight: 700;
  font-size: 28px;
}
.bold-30 {
  font-weight: 700;
  font-size: 30px;
}
.bold-31-5 {
  font-weight: 700;
  font-size: 31.5px;
  line-height: 28px;
}
.bold-34 {
  font-weight: 700;
  font-size: 34px;
}
.bold-50 {
  font-weight: 700;
  font-size: 50px;
}
